<mat-toolbar color="primary">
  <div class="row">
    <img src="https://ordenaris.com/ico/apple-touch-icon-57-precomposed.png" alt="" class="h-8 mr-3"> 
  </div>
  <div class="row">
    <span class="mr-14"> O R D E N A R I S </span>
  </div>
  
    <a mat-button class="ml-4 px-10 py-4 text-xl rounded-none"
      routerLink="/area" 
      routerLinkActive="bg-indigo-900" >
      <mat-icon>corporate_fare</mat-icon>
      Areas
    </a>
    <a mat-button class="ml-4 px-10 py-4 text-lg rounded-none"
      routerLink="/empleado" 
      routerLinkActive="bg-indigo-900">
      <mat-icon>groups</mat-icon>
      Empleados
    </a>
  </mat-toolbar>