<h1 class="font-bold text-3xl">Lista de Áreas</h1>
<div class="flex justify-between">
    <mat-form-field appearance="outline" class="w-1/3">
        <mat-label>Buscar</mat-label>
        <input type="text" matInput (keyup)="buscarTabla($event)">
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <div class="w-1/3 flex justify-end">
        <button mat-flat-button color="primary" class="my-auto uppercase" (click)="gestionar()">
            <mat-icon>add</mat-icon>
            Registrar Área
        </button>
    </div>
</div>

<div class="relative mat-elevation-z3">
  <div class="absolute top-0 left-0 bottom-14 right-0 bg-black bg-opacity-20 z-10 flex items-center justify-center" 
    *ngIf="estaCargando || paginador.total == 0">
    <mat-spinner *ngIf="estaCargando"></mat-spinner>
    <div *ngIf="paginador.total == 0">
      Sin Resultados
    </div>
  </div>

  <div class="relative min-h-[200px]">
    <table mat-table [dataSource]="listaAreas" class="w-full" matSort matSortActive="nombre" matSortDisableClea
      matSortDirection="desc">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="empleados">
        <th mat-header-cell *matHeaderCellDef>Empleados</th>
        <td mat-cell *matCellDef="let row">{{row.empleados}} Empleados</td>
      </ng-container>

      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Estatus</th>
        <td mat-cell *matCellDef="let area">
            <span class="px-5 py-1 rounded-xl text-white" [ngClass]="{ 'bg-red-600': area.estatus == 2, 'bg-green-600': area.estatus == 1 }">
                {{
                    ( area.estatus == 1 ) ? 'Activo' :
                    ( area.estatus == 2 ) ? 'Inactivo' : ''
                }}
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let area">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vertical</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="area.estatus == 1" (click)="actualizarEstatus( area.uuid, 2 )">
                  <mat-icon>block</mat-icon>
                  <span>Desactivar</span>
                </button>
                <button mat-menu-item *ngIf="area.estatus == 2" (click)="actualizarEstatus( area.uuid, 1 )">
                  <mat-icon>check</mat-icon>
                  <span>Activar</span>
                </button>
                <button mat-menu-item (click)="gestionar( area.nombre, area.uuid )">
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>
                <button mat-menu-item (click)="informacion( area.uuid )">
                    <mat-icon>info</mat-icon>
                    <span>Información</span>
                </button>
                <button mat-menu-item (click)="actualizarEstatus( area.uuid, 3 )">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                </button>
            </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="paginador.encabezados"></tr>
      <tr mat-row *matRowDef="let row; columns: paginador.encabezados;"></tr>
    </table>
  </div>
  <mat-paginator [length]="paginador.total" pageSize="5"></mat-paginator>
</div>